.headerBar {
	position: fixed;
	top: 0;
	width: 95vw;
	display: flex;
	justify-content: space-between;
	background-color: #2E8B57;
	color: #ffffff;
	padding-block: 0.5em;
	padding-inline: 1em;
	text-align: center;
	font-size: 1.8rem;
	font-family: "a Abstract Groovy";
}